
<!--@model List<WebTechnology.Models.SanPham>


@{
    ViewBag.Title = "sanpham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main">
    <div class="content">
        <div class="section group">
            @for (int i = 0; i < Model.Count; ++i)
            {
                <li class="cbp-item graphic" style="width: 345px; height: 312px; transform: translate3d(@((i%2)*375)px, @((i/2)*357)px, 0px);">
                    <div class="cbp-item-wrapper">
                        <div class="cbp-caption">
                            <img src="~/Content/img/AnhBia/@Model[i].HinhAnh" style="height: 265px;" alt="">
                        </div>
                        <div class="cbp-l-grid-projects-title">@Model[i].TenSanPham</div>
                        <div class="cbp-l-grid-projects-desc">@Model[i].ThuongHieu</div>
                        <div class="cbp-l-grid-projects-desc">@String.Format("{0:N0}", Model[i].Gia)</div>
                        <div class="cbp-l-grid-projects-desc">
                            <button onclick="Lay_Thongtin('@Model[i].MaSanPham')" data-toggle="modal" data-target=".bs-modal-lg_1">Chi tiết</button>
                            <button>Đặt Mua</button>
                        </div>
                    </div>
                </li>
            }
        </div>
    </div>
</div>



<div class="modal fade bs-modal-lg_1" tabindex="-1" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">-->
            <!--Header-->
            <!--<div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Tìm Kiếm</h4>
            </div>
            <div class="modal-body">-->
                <!--Body-->
                <!--<div class="row form-group" id="Body_Modal">
                </div>-->
                <!--Footer-->
                <!--<hr />
                <div class="row form-group">
                    <button class="btn btn-default col-sm-3 col-sm-offset-5 col-md-2 col-md-offset-7">Đặt Mua</button>
                    <button class="btn btn-default col-sm-3  col-md-2 " data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        function Lay_Thongtin(_maSanPham) {
            var xhr = new XMLHttpRequest();
            var url = '@Url.Action("Chitietsanpham","SanPham")';
            url += '?maSanPham=' + _maSanPham;
            xhr.open("GET", url, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    document.getElementById('Body_Modal').innerHTML = xhr.responseText;
                }
            }
            xhr.send();
        }
    </script>
}-->
